body{
    font-family: ;
    font-size: 16px;
    background: #ddd;
}

header{
    background: #11bfb9;
    padding: 10px;
}
header figure.logo{
    margin-left: 20%;
    position: relative;
    top: 20px;
}
header a{
    color: #fff;
    font-weight: bold;
}
header a:hover{
    color: #fff;
}
nav ul a{
    font-weight: normal;
    font-size: 14px;
}
.carousel-caption{
    left: 10%;
    top:30%;
    color: #fff;
}
.item h2{
    font-size: 3em;
}
.carousel-inner .btn-custom{
    border-radius: 2px;
    color: #fff;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #fff;
}
.btn-active1{
    background: #fff;
    color: #27d9c6 !important;
}
.btn-active2{
    background: #fff;
    color: #2f27d9 !important;
}
.btn-active3{
    background: #fff;
    color: #d95d27 !important;
}

.carousel-indicators{
    left: 15%;
}

.carousel-inner{
    margin-top: 97px;
}
.content1, .content1 p strong{
    background: #fff;
    color: #0e426a;
}
.content1 p{
    color: #c3c3c3;
}
.content2{
    background: #f2f2f2;
    padding: 40px;
    word-break: break-all;
    color: #0e426a;
}
.articles .caption{
    background: #1bcecb;
    color: #fff !important;
}

.articles .btn-custom{
    background: #3cf5e1;
    color: #0e426a !important;
    padding: 10px 25px;
    position: relative;
    left: 9px;
}
.articles .btn-custom:hover{
    background: #ffffff;
    transition: background-color 0.5s ease;
    text-decoration: none;
}
.articles p{
    color: #fff;
}
.blocks{
    position: relative;
    left: 100px;
}
.txt-neon{
    color: #27d9c6;
}

.post{
    margin-top: 40px;
    background: #fff;
    height: 440px;
    margin-right: 30px;
    padding: 15px;
    font-weight: bold;
}
.counter{
    background: #fff;
    padding: 20px;
}
.counter li a{
    background: #dbe0e4;
    color: #0e426a;
    padding: 15px 20px;
    border-radius: 5px;
}
.counter li a:hover{
    background: #27d9c6;
    color: #fff;
    transition: background-color 0.5s ease;
}
.counter-active{
    background: #27d9c6 !important;
    color: #fff !important;
}

@media (max-width: 992px) { 
    .blocks{
        left:50px;
    }
    .carousel-caption{
        top:10%;
}
    .carousel-inner .btn-custom{
        width: 140px;
    }
}
@media (max-width: 767px) { 
    .blocks{
        left:10px;
        text-align: center;
    }
    .blocks figure img{
        margin: 0 auto;
    }
    .articles .caption{
        width: 365px;
        margin: 0 auto;
}
}
@media (max-width: 530px) { 
       .carousel-caption h2{
        font-size: 1.5em;
}
    .carousel-indicators{
        left: 50%;
    }
}
@media (max-width: 420px) { 
    .carousel-caption{
        left: 5%;
}
       .carousel-caption h2{
        font-size: 1em;
}
    .carousel-indicators{
        left: 50%;
    }
    .carousel-inner .btn-custom{
        width: 130px;
    }
    .articles .caption{
        width: 100%;
    }
}

@media (max-width: 320px) { 
    .carousel-inner .btn-custom{
        width: 110px;
        font-size: 12px;
    }
    .carousel-indicators{
        display: none;
    }
}


/****header scroll***/
.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #11bfb9;
    z-index: 10000;
    height: 130px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.cbp-af-inner figure{
    line-height: 120px;
}
 
.cbp-af-header .cbp-af-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em;
}
 
.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}
 
 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 130px;
}
 
.cbp-af-header h1 {
    text-transform: uppercase;
    color: #333;
    letter-spacing: 4px;
    font-size: 4em;
    margin: 0;
    float: left;
}
 
.cbp-af-header nav {
    float: right;
}
 
.cbp-af-header nav a {
    color: #fff;
    font-weight: 700;
    margin: 0 0 0 20px;
    font-size: 1.4em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
}
 
.cbp-af-header nav a:hover {
    color: #333;
}
 
/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
 
.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
}
 
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 90px;
}
 
.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}
 
/* Example Media Queries */
@media screen and (max-width: 55em) {
    
 
     
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
 
    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
 
    .cbp-af-header h1,
    .cbp-af-header nav a {
        line-height: 115px;
    }
 
    .cbp-af-header nav a {
        margin: 0 10px;
    }
 
    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }
 
    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }
 
    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}
 
@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
    
}
 
@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
}